<h2>por pais</h2>
<hr>

<div class="row">
  <div class="col">
    <form action="" autocomplete="off" (ngSubmit)="buscar()">
      <input type="text" name="termino" placeholder="Buscar Pais" class="form-control" [(ngModel)]="termino">
    </form>
  </div>
</div>

<hr>

<div *ngIf="hayError" class="alert alert-danger">
  no se encontro la Busqueda {{ termino }}
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Poblacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of country">
          <td></td>
          <td>Banderas</td>
          <td>{{pais.name}}</td>
          <td>10000</td>
          <td>
            <a href="">vist</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
